.App {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.github-followers .slick-track > div{
  border: 1px solid #adadad;
  padding: 0 5px;
  box-sizing: border-box;
}

.github-followers h2 {
  text-transform: capitalize;
}

.slick-next, .slick-prev {
  background: #3182a6 !important;
  padding: 1px;
}

.card-img-top{
  width: 250px;
}

.slick-cloned {
  display: none !important;
}


